@font-face {
    font-family: 'Montserrat';
    src: url(Fonts/Montserrat/);
}
@font-face {
    font-family: 'maidenly';
    src: url(Fonts/maidenly-modesty-font/);
}

body {
    background: white;
    font-family: 'Martel Sans', sans-serif;
    font-weight: 300;
}



.container {
    width: 90%;
    margin: 0 auto;
    margin-top: -60px;
}

header {
    background: rgb(254, 253, 253);
    width: 101.25%;
    margin-left: -8px;
    margin-right: -60px;
}

header ::after {
    content: '';
    display: table;
    clear: both;
}


.logo {
    float: left;
    margin-left: -5px;
    margin-top: -60px;
    margin-bottom: -70px;
}

nav {
    margin-top: 40px;
    font-family: #5D3E2A;
}

nav ul {
    float: right;
    margin: 0;
    padding: 0;
    list-style: none ;
    margin-top: 70px;
    margin-left: -15px ;
    
}

nav li {
    display:inline-block;
    margin-left: 80px;
    margin-right: 10px;
}

.bigbox {
    margin: auto;
    position: absolute;left: 0px;right: 0px;
    background-color: #7e5a42;
    padding: 15px;
    width: 85%;
    height: 800px;
}

.breakfastpic {
   float: left;
   position: relative; left: 20px;
}

.gardenpic {
    position: relative; left: 20px;
}

.insidebedroom {
float: left;
position: relative; left: 20px;
}

.doubleroom {
    position: relative; left: 20px;
}